@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");

@import "null";

@font-face {
    font-family: "Druk-Wide";
    src: url("../fonts/Druk-Wide-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    background: #1f2326;
    max-height: 100%;
}

//-------------------------------------------------

body._pc .menu__list > li:hover a {
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}
body._lock {
    overflow: hidden;
}

//-------------------------------------------------

a {
    color: #fff;
}

.red {
    background: #ff4656;
}

.white {
    background: #efefef;
}

.light-grey {
    background: #505155;
}

.dark-grey {
    background: #292c31;
}

.wrapper {
    max-width: 3099px;
    min-height: 2023px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 150px 150px 240px;
    @media (max-width: 3099px) {
        overflow: hidden;
    }
    @media (min-width: 3099px) {
        min-height: 2323px;
        padding: 303px 150px 395px;
    }
    @media (max-width: 2668.98px) {
        width: auto;
        height: auto;
    }
    @media (max-width: 991.98px) {
        padding: 70px 50px 162px;
    }
    @media (max-width: 599.98px) {
        padding: 30px 15px 122px;
    }
    &__decor {
        position: absolute;
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        @media (min-width: 3099px) {
            position: fixed;
        }
    }
    &__decor_1 {
        height: 2216px;
        width: 2215px;
        left: -385px;
        top: -711px;
    }
    &__decor_2 {
        height: 44px;
        width: 44px;
        right: 219px;
        top: 74px;
    }
    &__decor_3 {
        height: 269px;
        width: 268px;
        right: 104px;
        top: 182px;
    }
    &__decor_4 {
        height: 98px;
        width: 98px;
        right: 55px;
        top: 475px;
    }
    &__decor_5 {
        height: 63px;
        width: 63px;
        left: 112px;
        bottom: 178px;
    }
    &__decor_6 {
        height: 470px;
        width: 470px;
        left: 177px;
        bottom: -261px;
    }
    &__decor_7 {
        height: 1443px;
        width: 1443px;
        right: -316px;
        bottom: -512px;
    }
}

.container {
    background-color: #ff4656;
    align-self: center;
    width: 2660px;
    height: 1624px;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
    @media (max-width: 2668.98px) {
        width: auto;
        height: auto;
    }
    @media (max-width: 2467.98px) {
        max-width: 1880px;
    }
}

// ----------------------

.header {
    position: relative;
    width: 100%;
    height: 132px;
    background-color: #1f2326;
    color: #fff;
    border-radius: 32px 32px 0px 0px;
    display: flex;
    padding: 45px 72px;
    align-items: center;
    justify-content: space-between;
    &__menu {
        flex: 1 1 auto;
    }
    z-index: 13;
    @media (max-width: 767.98px) {
        padding: 45px;
    }
}

.logo {
    display: flex;
    gap: 60px;
    span {
        display: inline-block;
        width: 2px;
        height: 42px;
        background-color: #fff;
    }
    @media (max-width: 2100px) {
        gap: 40px;
    }
}

.menu {
    display: flex;
    @media (max-width: 1649.98px) {
        justify-content: end;
    }
    &__list {
        display: flex;
        gap: 75px;
        margin-left: 86px;
        @media (max-width: 2100px) {
            gap: 40px;
        }
        @media (max-width: 1650px) {
            flex-direction: column;
            padding: 60px;
            @media (max-width: 599.98px) {
                padding: 30px 0;
            }
            li {
                margin-bottom: 68px;
                font-size: 34px;
            }
        }
    }
    &__link {
        font-weight: 700;
        line-height: 17px;
    }
    &__icon {
        display: none;
        @media (max-width: 1649.98px) {
            display: block;
            z-index: 20;
            position: relative;
            width: 59px;
            height: 32px;
            cursor: pointer;
            span,
            &::before,
            &::after {
                right: 0;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #ffffff;
                transition: all 0.3s ease 0s;
            }
            &::after,
            &::before {
                content: "";
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            &._active {
                span {
                    transform: scale(0) translate(0px, -50%);
                }
                &::before {
                    background-color: #ffffff;
                    top: 50%;
                    transform: rotate(-45deg) translate(0px, -50%);
                }
                &::after {
                    background-color: #ffffff;
                    bottom: 50%;
                    transform: rotate(45deg) translate(0px, 50%);
                }
            }
        }
    }
    &__body {
        @media (max-width: 1649.98px) {
            position: fixed;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #ff4656;
            padding: 65px 28px;
            transition: all 0.3s ease 0s;
            overflow: auto;
            &._active {
                left: 0;
                &::before {
                    content: "";
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 65px;
                    z-index: 15;
                    background-color: #ff4656;
                }
                @media (min-width: 991.98px) {
                    padding: 150px;
                }
            }
        }
    }
}

.account {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 30px;
    &__image {
        border-radius: 50%;
        overflow: hidden;
    }
    &__nickname {
        @media (max-width: 991.98px) {
            display: none;
        }
    }
}

// -----------------------

.main {
    background: url(../img/background.png) center/cover no-repeat;
    position: relative;
    height: 100%;
    &__agents {
        position: relative;
        left: 108px;
        padding: 119px 0px;
        @media (max-width: 2764.98px) {
            left: 64px;
        }
        @media (max-width: 1639.98px) {
            left: 0px;
        }
    }
    &__skills {
        position: relative;
        left: -123px;
        @media (max-width: 2959.98px) {
            left: -69px;
        }
        @media (max-width: 991.98px) {
            left: -20px;
        }
        @media (max-width: 543.98px) {
            left: 0px;
        }
    }
}

.agents {
    max-width: 2620px;
    overflow: hidden;
    display: flex;
    @media (max-width: 2664.98px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 2468px) and (min-width: 1890px) {
        flex-direction: row;
        align-items: start;
    }
    @media (max-width: 599.98px) {
        padding: 119px 0px;
    }
    &__container {
        position: relative;
    }
    &__title {
        writing-mode: vertical-lr;
        padding: 0 66px 0 79px;
        @media (max-width: 2664.98px) {
            writing-mode: horizontal-tb;
            padding: 0px 0px 79px;
        }
        @media (max-width: 2468px) and (min-width: 1890px) {
            writing-mode: vertical-lr;
            padding: 0 126px 0 159px;
        }
        h1 {
            font-family: "Druk-Wide";
            font-style: normal;
            font-weight: 500;
            font-size: 156px;
            line-height: 1.34;
            letter-spacing: 0.1em;
            @media (max-width: 1439.98px) {
                font-size: 120px;
            }
            @media (max-width: 1023.98px) {
                font-size: 90px;
            }
            @media (max-width: 767.98px) {
                font-size: 68px;
            }
            @media (max-width: 599.98px) {
                font-size: 58px;
            }
        }
    }
    &__items {
        display: flex;
        gap: 72px;
        overflow: auto;
        @media (max-width: 2864.98px) {
            gap: 40px;
        }
        @media (max-width: 2664.98px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 2468px) and (min-width: 1618px) {
            gap: 72px;
        }
        @media (max-width: 767.98px) {
            padding: 0 10px;
        }
    }
    &__slide {
        &:nth-child(2) {
            .agents-item__image {
                padding-bottom: 67.8px;
                border: none;
            }
        }
    }
}

.text-transparent {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: none;
}

.text-transparent_black {
    -webkit-text-stroke: 3px #1f2326;
}

//----------------------------------------------------------

.agents-item {
    width: 512px;
    height: 1025px;
    position: relative;
    @media (max-width: 767.98px) {
        width: 430px;
        height: 1050px;
    }
    &__text {
        font-family: "Druk-Wide";
        position: absolute;
        writing-mode: vertical-lr;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.1em;
        z-index: 10;
        top: 40px;
        @media (max-width: 767.98px) {
            writing-mode: horizontal-tb;
            top: 0;
            left: 5px;
        }
    }
    &__name {
        font-size: 72px;
        @media (max-width: 767.98px) {
            font-size: 48px;
        }
    }
    &__country {
        font-size: 24px;
        color: #ff4656;
    }
    &__image {
        position: absolute;
        background: #1f2326;
        border-radius: 25px 0px 0px 0px;
        border: 2px solid #1f2326;
        right: 31px;
        img {
            max-width: 100%;
            @media (max-width: 599.98px) {
                object-fit: cover;
            }
        }
        @media (max-width: 767.98px) {
            top: 40px;
            right: 20px;
        }
    }
    &__image_white {
        background: #f8f8f8;
    }
    &__stats {
        position: absolute;
        width: 440px;
        height: 110px;
        right: 0;
        bottom: 0;
        background: #1f2326;
        border: 2px solid #f8f8f8;
        @media (max-width: 767.98px) {
            width: 420px;
        }
    }
    &__stats_white {
        background: #ffffff;
        border: 2px solid #1f2326;
    }
}

.stats {
    display: flex;
    padding: 19px 42px;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide {
    width: auto;
}

//----------------------------------------------------------

.skills {
    display: flex;
    gap: 80px;
    @media (max-width: 2864.98px) {
        gap: 40px;
    }
    @media (max-width: 2033.98px) {
        flex-wrap: wrap;
    }
    @media (max-width: 599.98px) {
        justify-content: center;
    }
    &__item {
        display: inline-block;
        background-color: #f8f8f8;
        z-index: 7;
        border: 2px solid #000000;
        border-radius: 25px 0px 0px 0px;
    }
    &__item_empty {
        margin-left: 24px;
        width: 219px;
        height: 248px;
        @media (max-width: 1282.98px) {
            margin-left: 0px;
        }
        img {
            margin: 50%;
        }
    }
}

// --------------------------

.skills-item {
    height: 248px;
    width: 724px;
    padding: 31px 57px;
    display: flex;
    @media (max-width: 2767.98px) and (min-width: 2033.98px) {
        width: auto;
        &__decor {
            margin: 15px 0;
        }
    }
    @media (max-width: 991.98px) {
        width: auto;
        &__decor {
            margin: 15px 0;
        }
    }
    @media (max-width: 2467.98px) and (min-width: 2033.98px) {
        flex-direction: column;
        height: auto;
    }
    @media (max-width: 767.98px) {
        flex-direction: column;
        height: auto;
    }
    @media (max-width: 543.98px) {
        padding: 31px 42px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 340px;
        height: 186px;
        @media (max-width: 2559.98px) and (min-width: 2467.98px) {
            width: 320px;
        }
    }
    &__title {
        font-family: "Druk-Wide";
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        color: #c4c4c4;
    }
    &__subtitle {
        font-family: "Druk-Wide";
        font-weight: 500;
        font-size: 24px;
        line-height: 1.3;
        color: #000000;
    }
    &__text {
        width: 315px;
        height: 56px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.1em;
    }
    &__decor {
        text-align: right;
        flex: 1 1 auto;
    }
}

.skills-decor {
    &__icon {
        position: relative;
        img {
            margin-left: 35px;
            z-index: 20;
        }
        &::before {
            content: "";
            position: absolute;
            right: 52px;
            top: 20px;
            width: 190px;
            height: 182px;
            background: #ff4656;
            z-index: -1;
        }
    }
}

// ------------------

.footer {
    height: 132px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 0px 0px 32px 32px;
    position: absolute;
    z-index: 4;
    bottom: -92px;
}

// ------------------
